In [14]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("C:\\Users\\mkhan\\Desktop\\musabi\\OCT_project\\data\\OCT_final_val_csv.csv")
df

,Unnamed: 0,image,level,path,source
0,0,image_normal_0_11.tiff,0,data/oct/oct_artelus/val/0/image_normal_0_11.tiff,oct_artelus
1,1,image_normal_0_13.tiff,0,data/oct/oct_artelus/val/0/image_normal_0_13.tiff,oct_artelus
2,2,image_normal_0_5.tiff,0,data/oct/oct_artelus/val/0/image_normal_0_5.tiff,oct_artelus
3,3,image_normal_10_14.tiff,0,data/oct/oct_artelus/val/0/image_normal_10_14....,oct_artelus
4,4,image_normal_10_15.tiff,0,data/oct/oct_artelus/val/0/image_normal_10_15....,oct_artelus
...,...,...,...,...,...
22313,22313,CNV-9997680-70.jpeg,3,data/oct/oct_mendely/val/3/CNV-9997680-70.jpeg,oct_mendely
22314,22314,CNV-9997680-76.jpeg,3,data/oct/oct_mendely/val/3/CNV-9997680-76.jpeg,oct_mendely
22315,22315,CNV-9997680-81.jpeg,3,data/oct/oct_mendely/val/3/CNV-9997680-81.jpeg,oct_mendely
22316,22316,CNV-9997680-84.jpeg,3,data/oct/oct_mendely/val/3/CNV-9997680-84.jpeg,oct_mendely
22317,22317,CNV-9997680-88.jpeg,3,data/oct/oct_mendely/val/3/CNV-9997680-88.jpeg,oct_mendely

In [22]:
df =  pd.read_csv("OCT_final_testwcsv.csv")

In [23]:

df2 = pd.get_dummies(df, columns=['level'], dtype='int')
df2

,Image,path,source,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7
0,AMRD24.tiff,data/oct/oct_artelus/test/4/AMRD24.tiff,oct_artelus,0,0,0,0,1,0,0,0
1,AMRD33.tiff,data/oct/oct_artelus/test/4/AMRD33.tiff,oct_artelus,0,0,0,0,1,0,0,0
2,image_amd_0_16.tiff,data/oct/oct_artelus/test/4/image_amd_0_16.tiff,oct_artelus,0,0,0,0,1,0,0,0
3,image_amd_0_19.tiff,data/oct/oct_artelus/test/4/image_amd_0_19.tiff,oct_artelus,0,0,0,0,1,0,0,0
4,image_amd_10_0.tiff,data/oct/oct_artelus/test/4/image_amd_10_0.tiff,oct_artelus,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1148,CNV-9782524-1.jpeg,data/oct/test/3/CNV-9782524-1.jpeg,NaN,0,0,0,1,0,0,0,0
1149,CNV-9782524-2.jpeg,data/oct/test/3/CNV-9782524-2.jpeg,NaN,0,0,0,1,0,0,0,0
1150,CNV-9806464-1.jpeg,data/oct/test/3/CNV-9806464-1.jpeg,NaN,0,0,0,1,0,0,0,0
1151,CNV-9929999-1.jpeg,data/oct/test/3/CNV-9929999-1.jpeg,NaN,0,0,0,1,0,0,0,0
1152,CNV-9971412-1.jpeg,data/oct/test/3/CNV-9971412-1.jpeg,NaN,0,0,0,1,0,0,0,0

In [20]:
df2.to_csv("OCT_final_test_vit.csv")

In [9]:
import pandas as pd
  
# reading csv files
data1 = pd.read_csv('oct_final_train_vit.csv')
data2 = pd.read_csv('oct_final_val_vit.csv')
  
# using merge function by setting how='outer'
# output4 = pd.merge(data1, data2, 
#                    how='outer')

In [10]:
output4 = data1.merge(data2,how='outer')
output4

,image,path,source,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7
0,image_normal_0_0.tiff,data/oct/oct_artelus/train/0/image_normal_0_0....,oct_artelus,1,0,0,0,0,0,0,0
1,image_normal_0_1.tiff,data/oct/oct_artelus/train/0/image_normal_0_1....,oct_artelus,1,0,0,0,0,0,0,0
2,image_normal_0_10.tiff,data/oct/oct_artelus/train/0/image_normal_0_10...,oct_artelus,1,0,0,0,0,0,0,0
3,image_normal_0_12.tiff,data/oct/oct_artelus/train/0/image_normal_0_12...,oct_artelus,1,0,0,0,0,0,0,0
4,image_normal_0_14.tiff,data/oct/oct_artelus/train/0/image_normal_0_14...,oct_artelus,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
89324,CNV-9997680-95.jpeg,data/oct/oct_mendely/train/3/CNV-9997680-95.jpeg,oct_mendely,0,0,0,1,0,0,0,0
89325,CNV-9997680-96.jpeg,data/oct/oct_mendely/train/3/CNV-9997680-96.jpeg,oct_mendely,0,0,0,1,0,0,0,0
89326,CNV-9997680-97.jpeg,data/oct/oct_mendely/train/3/CNV-9997680-97.jpeg,oct_mendely,0,0,0,1,0,0,0,0
89327,CNV-9997680-98.jpeg,data/oct/oct_mendely/train/3/CNV-9997680-98.jpeg,oct_mendely,0,0,0,1,0,0,0,0
89328,CNV-9997680-99.jpeg,data/oct/oct_mendely/train/3/CNV-9997680-99.jpeg,oct_mendely,0,0,0,1,0,0,0,0

In [4]:
output4.to_csv("OCT_final_val_vitc.csv")

In [21]:
import pandas as pd

def concat_csv(file1, file2, output_file):
    # Read the CSV files
    df1 = pd.read_csv(file1)
    df2 = pd.read_csv(file2)
    
    # Concatenate the dataframes
    combined_df = pd.concat([df1, df2], ignore_index=True)
    
    # Write the combined dataframe to the output file
    combined_df.to_csv(output_file, index=False)

# Provide the filenames for the two CSV files and the output file
file1 = 'oct_final_train_vit.csv'
file2 = 'OCT_final_val_vitc.csv'
output_file = 'OCT_final_train_val_merge.csv'

# Call the function to concatenate the CSV files
concat_csv(file1, file2, output_file)

### Output of Augmented block

In [ ]:
import tensorflow as tf
import tensorflow_addons as tfa
import random
import math

def __data_augmentation(img, mode='rgb'):
    flip_prob = tf.random.uniform([], 0, 1.0, dtype=tf.float32)
    if flip_prob > 0.5:
        img = tf.image.transpose(img)
    img = tf.image.random_flip_up_down(img)
    img = tf.image.random_flip_left_right(img)
    img = tf.image.random_brightness(img, 0.5)
    img = tf.image.random_contrast(img, 0.5, 1.5)
    img = tf.image.random_saturation(img, 0.5, 1.5)
    if mode == 'rgb':
        img = tf.image.random_hue(img, 0.5)
    img = tfa.image.rotate(img, random.uniform(-90, 90) * math.pi / 180)
    img = tf.image.random_jpeg_quality(img, 30, 100)

    return img


# Load an example image
img_path = 'NORMAL-114740-5.jpeg'
img = tf.io.read_file(img_path)
img = tf.image.decode_jpeg(img, channels=3)  # Assuming RGB image

# Define the augmentation technique names
techniques = ['transpose', 'flip_up_down', 'flip_left_right', 'brightness', 'contrast', 'saturation', 'hue', 'rotation', 'jpeg_quality']

# Apply data augmentation techniques and save output samples
output_dir = 'augmented_outputs'  # Directory to save augmented images
num_samples = 5  # Number of output samples to generate

# Generate and save output samples
for i in range(num_samples):
    augmented_img = __data_augmentation(img)
    technique_name = techniques[i % len(techniques)]
    output_path = f'{output_dir}/augmented_{technique_name}_{i + 1}.jpg'
    tf.io.write_file(output_path, tf.image.encode_jpeg(augmented_img))

    print(f'Saved augmented image {i + 1} with technique {technique_name} at {output_path}')