In [33]:
import pandas as pd
import numpy as np
import os
import math
from sklearn.metrics import classification_report, confusion_matrix

In [34]:
df = pd.read_csv('C:/Users/mkhan/Desktop/musabi/OCT_project/data/oct/oct_artelus/OCT_artelus_testw.csv')

In [3]:
df.head()

                    image  label
0   image_normal_0_0.tiff      0
1   image_normal_0_1.tiff      0
2  image_normal_0_10.tiff      0
3  image_normal_0_12.tiff      0
4  image_normal_0_14.tiff      0

In [35]:
# combining the image and label for training
df2 = df.assign(path='data/oct/oct_artelus/test/'+df['label'].astype(str)+'/'+df['image'].astype(str))

In [36]:
df2['source']='oct_artelus'

In [34]:
#one_hot = pd.get_dummies(df['Finding Labels'])
#one_hot.head()
#df = pd.concat([df,one_hot],axis=1)

In [37]:
df2.to_csv('C:/Users/mkhan/Desktop/musabi/OCT_project/data/oct/oct_artelus/OCT_artelus_testw_csv.csv')

## Splitting the data into train and test from CSv

In [27]:
df = pd.read_csv('C:/Users/mkhan/Desktop/musabi/OCT_project/data/oct/train.csv')
total_size = len(df)
train_size =math.floor(0.80*total_size)

In [ ]:
#shuffle the data before splitting
from sklearn.utils import shuffle
df =shuffle(df)

In [31]:
#splitting into train and test
train =df.head(train_size)
test = df.tail(len(df) - train_size)
train.to_csv('C:/Users/mkhan/Desktop/musabi/OCT_project/data/covid_pneu/training_csv.csv')
test.to_csv('C:/Users/mkhan/Desktop/musabi/OCT_project/data/covid_pneu/testing_csv.csv')

### Merging CSVS

In [38]:

# importing pandas
import pandas as pd
  
# merging two csv files
df = pd.concat(
    map(pd.read_csv, ['C:/Users/mkhan/Desktop/musabi/OCT_project/data/oct/oct_artelus/OCT_artelus_testw_csv.csv', 'C:/Users/mkhan/Desktop/musabi/OCT_project/data/oct/test_csv.csv']), ignore_index=True)
print(df)

      Unnamed: 0                image  label  \
0            0.0          AMRD24.tiff      4
1            1.0          AMRD33.tiff      4
2            2.0  image_amd_0_16.tiff      4
3            3.0  image_amd_0_19.tiff      4
4            4.0  image_amd_10_0.tiff      4
...          ...                  ...    ...
1148         NaN   CNV-9782524-1.jpeg      3
1149         NaN   CNV-9782524-2.jpeg      3
1150         NaN   CNV-9806464-1.jpeg      3
1151         NaN   CNV-9929999-1.jpeg      3
1152         NaN   CNV-9971412-1.jpeg      3

                                                 path       source
0             data/oct/oct_artelus/test/4/AMRD24.tiff  oct_artelus
1             data/oct/oct_artelus/test/4/AMRD33.tiff  oct_artelus
2     data/oct/oct_artelus/test/4/image_amd_0_16.tiff  oct_artelus
3     data/oct/oct_artelus/test/4/image_amd_0_19.tiff  oct_artelus
4     data/oct/oct_artelus/test/4/image_amd_10_0.tiff  oct_artelus
...                                               ...          ...
1148               data/oct/test/3/CNV-9782524-1.jpeg          NaN
1149               data/oct/test/3/CNV-9782524-2.jpeg          NaN
1150               data/oct/test/3/CNV-9806464-1.jpeg          NaN
1151               data/oct/test/3/CNV-9929999-1.jpeg          NaN
1152               data/oct/test/3/CNV-9971412-1.jpeg          NaN

[1153 rows x 5 columns]

In [32]:
df.to_csv('C:/Users/mkhan/Desktop/musabi/OCT_project/data/oct/oct_artelus/OCT_final_testwcsv.csv')