In [1]:
import pandas as pd
import numpy as np
import os
import math
from sklearn.metrics import classification_report, confusion_matrix

In [56]:
df = pd.read_csv('C:/Users/mkhan/Desktop/musabi/OCT_project/csv_hub/oct_artelus/OCT_artelus_val_csv.csv')
df

,image,level,path,source
0,image_normal_0_11.tiff,0,data/oct/oct_artelus/val/0/image_normal_0_11.tiff,oct_artelus
1,image_normal_0_13.tiff,0,data/oct/oct_artelus/val/0/image_normal_0_13.tiff,oct_artelus
2,image_normal_0_5.tiff,0,data/oct/oct_artelus/val/0/image_normal_0_5.tiff,oct_artelus
3,image_normal_10_14.tiff,0,data/oct/oct_artelus/val/0/image_normal_10_14....,oct_artelus
4,image_normal_10_15.tiff,0,data/oct/oct_artelus/val/0/image_normal_10_15....,oct_artelus
...,...,...,...,...
650,MH64.tiff,7,data/oct/oct_artelus/val/7/MH64.tiff,oct_artelus
651,MH67.tiff,7,data/oct/oct_artelus/val/7/MH67.tiff,oct_artelus
652,MH8.tiff,7,data/oct/oct_artelus/val/7/MH8.tiff,oct_artelus
653,MH80.tiff,7,data/oct/oct_artelus/val/7/MH80.tiff,oct_artelus
654,MH9.tiff,7,data/oct/oct_artelus/val/7/MH9.tiff,oct_artelus

In [57]:
df["image"] = "clahe_"+df['image']
df

,image,level,path,source
0,clahe_image_normal_0_11.tiff,0,data/oct/oct_artelus/val/0/image_normal_0_11.tiff,oct_artelus
1,clahe_image_normal_0_13.tiff,0,data/oct/oct_artelus/val/0/image_normal_0_13.tiff,oct_artelus
2,clahe_image_normal_0_5.tiff,0,data/oct/oct_artelus/val/0/image_normal_0_5.tiff,oct_artelus
3,clahe_image_normal_10_14.tiff,0,data/oct/oct_artelus/val/0/image_normal_10_14....,oct_artelus
4,clahe_image_normal_10_15.tiff,0,data/oct/oct_artelus/val/0/image_normal_10_15....,oct_artelus
...,...,...,...,...
650,clahe_MH64.tiff,7,data/oct/oct_artelus/val/7/MH64.tiff,oct_artelus
651,clahe_MH67.tiff,7,data/oct/oct_artelus/val/7/MH67.tiff,oct_artelus
652,clahe_MH8.tiff,7,data/oct/oct_artelus/val/7/MH8.tiff,oct_artelus
653,clahe_MH80.tiff,7,data/oct/oct_artelus/val/7/MH80.tiff,oct_artelus
654,clahe_MH9.tiff,7,data/oct/oct_artelus/val/7/MH9.tiff,oct_artelus

In [58]:
# combining the image and label for training
df2 = df.assign(path='data/oct/oct_artelus/val_clahe/'+df['level'].astype(str)+'/'+df['image'].astype(str))
df2

,image,level,path,source
0,clahe_image_normal_0_11.tiff,0,data/oct/oct_artelus/val_clahe/0/clahe_image_n...,oct_artelus
1,clahe_image_normal_0_13.tiff,0,data/oct/oct_artelus/val_clahe/0/clahe_image_n...,oct_artelus
2,clahe_image_normal_0_5.tiff,0,data/oct/oct_artelus/val_clahe/0/clahe_image_n...,oct_artelus
3,clahe_image_normal_10_14.tiff,0,data/oct/oct_artelus/val_clahe/0/clahe_image_n...,oct_artelus
4,clahe_image_normal_10_15.tiff,0,data/oct/oct_artelus/val_clahe/0/clahe_image_n...,oct_artelus
...,...,...,...,...
650,clahe_MH64.tiff,7,data/oct/oct_artelus/val_clahe/7/clahe_MH64.tiff,oct_artelus
651,clahe_MH67.tiff,7,data/oct/oct_artelus/val_clahe/7/clahe_MH67.tiff,oct_artelus
652,clahe_MH8.tiff,7,data/oct/oct_artelus/val_clahe/7/clahe_MH8.tiff,oct_artelus
653,clahe_MH80.tiff,7,data/oct/oct_artelus/val_clahe/7/clahe_MH80.tiff,oct_artelus
654,clahe_MH9.tiff,7,data/oct/oct_artelus/val_clahe/7/clahe_MH9.tiff,oct_artelus

In [59]:
df2.to_csv('C:/Users/mkhan/Desktop/musabi/OCT_project/csv_hub/oct_artelus/oct_artelus_val_clahe.csv')

In [36]:
df2['source']='oct_artelus'

In [34]:
#one_hot = pd.get_dummies(df['Finding Labels'])
#one_hot.head()
#df = pd.concat([df,one_hot],axis=1)

## Splitting the data into train and test from CSv

In [27]:
df = pd.read_csv('C:/Users/mkhan/Desktop/musabi/OCT_project/data/oct/train.csv')
total_size = len(df)
train_size =math.floor(0.80*total_size)

In [ ]:
#shuffle the data before splitting
from sklearn.utils import shuffle
df =shuffle(df)

In [31]:
#splitting into train and test
train =df.head(train_size)
test = df.tail(len(df) - train_size)
train.to_csv('C:/Users/mkhan/Desktop/musabi/OCT_project/data/covid_pneu/training_csv.csv')
test.to_csv('C:/Users/mkhan/Desktop/musabi/OCT_project/data/covid_pneu/testing_csv.csv')

### Merging CSVS

In [62]:

# importing pandas
import pandas as pd
  
# merging two csv files
df = pd.concat(
    map(pd.read_csv, ['C:/Users/mkhan/Desktop/musabi/OCT_project/csv_hub/oct_mendely/train_clahe_csv.csv', 'C:/Users/mkhan/Desktop/musabi/OCT_project/csv_hub/oct_artelus/oct_artelus_train_clahe.csv']), ignore_index=True)
print(df)

       Unnamed: 0                         image  level
0               0   clahe_NORMAL-1001772-1.jpeg      0  \
1               1  clahe_NORMAL-1001772-10.jpeg      0
2               2  clahe_NORMAL-1001772-11.jpeg      0
3               3  clahe_NORMAL-1001772-12.jpeg      0
4               4  clahe_NORMAL-1001772-13.jpeg      0
...           ...                           ...    ...
89324        2678               clahe_MH94.tiff      7
89325        2679               clahe_MH95.tiff      7
89326        2680               clahe_MH96.tiff      7
89327        2681               clahe_MH98.tiff      7
89328        2682               clahe_MH99.tiff      7

                                                    path       source
0      data/oct/oct_mendely/train_clahe/0/clahe_NORMA...  oct_mendely
1      data/oct/oct_mendely/train_clahe/0/clahe_NORMA...  oct_mendely
2      data/oct/oct_mendely/train_clahe/0/clahe_NORMA...  oct_mendely
3      data/oct/oct_mendely/train_clahe/0/clahe_NORMA...  oct_mendely
4      data/oct/oct_mendely/train_clahe/0/clahe_NORMA...  oct_mendely
...                                                  ...          ...
89324  data/oct/oct_artelus/train_clahe/7/clahe_MH94....  oct_artelus
89325  data/oct/oct_artelus/train_clahe/7/clahe_MH95....  oct_artelus
89326  data/oct/oct_artelus/train_clahe/7/clahe_MH96....  oct_artelus
89327  data/oct/oct_artelus/train_clahe/7/clahe_MH98....  oct_artelus
89328  data/oct/oct_artelus/train_clahe/7/clahe_MH99....  oct_artelus

[89329 rows x 5 columns]

In [63]:
df.to_csv('C:/Users/mkhan/Desktop/musabi/OCT_project/csv_hub/final_train_clahe.csv')